extends layout

block content
  header.container
    .row
      .col-xs-12
        h1 NJC Online pleas
  main(ui-view).container.page
  footer.container
    .row
      .col-xs-12
        p Code for Australia
