extends layout

block content
  header.global-header
    .container
      .row
        .col-xs-12
          a.header-logo
            img(src="/online-pleas/static/imgs/njc-logo.png")
            h1.header-title
              NJC

  main
    .page(ui-view)

  footer.global-footer
    .container
      .row
        .col-xs-12
