doctype html
html
  head
    base(href=base_url)
    link(rel="stylesheet", href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='/online-pleas/static/vendor/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/online-pleas/static/vendor/bootstrap-additions/dist/bootstrap-additions.min.css')
    link(rel="stylesheet", type="text/css", href='/online-pleas/static/less/plea.css')
  body
    header
      .container
        h1 NJC - Online plea
        h4 Plea for offence #{data.id}
        //h5 Submitted - date submitted
    main
      .container
        hr
        each val, key in pretty_data
          if key !== 'id'
            .row
              .col-xs-12
                .plea-field-label
                  h4= key.toUpperCase()
                  p= val
                //.plea-field-value
        hr
    footer
      .container
        p Neighbourhood Justice Centre
