/*
* Variables and fonts
*/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);
body {
  font-family: "Roboto", "helvetica", "verdana", "sans-serif";
  font-size: 12pt;
}
main,
.global-header,
.global-footer,
.global-nav {
  padding: 1em;
}
.global-header .header-logo img {
  height: 2em;
  width: auto;
}
.global-header .header-title {
  font-weight: bold;
  font-size: 1em;
  text-transform: uppercase;
}
.global-header .header-tagline {
  font-size: 1em;
}
.header-nav,
.global-nav {
  padding: 1em 0;
  text-transform: uppercase;
}
.header-nav li,
.global-nav li {
  list-style-type: none;
  display: inline-block;
  margin-right: 1em;
}
.header-nav {
  float: right;
  display: inline-block;
}
.global-footer .footer-links {
  list-style-type: none;
}
.global-footer .footer-links li {
  margin-right: 1em;
  display: inline-block;
}
body {
  color: #333;
  background: #F8F8F8;
}
.global-header .header-logo {
  font-size: 24pt;
}
.global-header .header-title {
  display: none;
}
/*.global-footer .container {
  padding-top:@gutter;
  border-top:solid 1px @dark-grey;
}*/
.global-header {
  background: #fff;
}
main header h1 {
  font-size: 36pt;
}
a:link,
a:visited {
  color: #37465D;
  text-decoration: underline;
}
ul {
  list-style-type: square;
}
.palette {
  padding: 1em;
  display: block;
}
.col-success {
  background-color: #6AB0AA;
}
.col-error {
  background-color: #DD6F47;
}
.col-primary {
  background-color: #37465D;
  color: #F8F8F8;
}
.col-secondary {
  background-color: #D6D6D6;
}
.col-information {
  background-color: #44BBFF;
}
.col-warning {
  background-color: #FCA65F;
}
.has-error .form-control {
  border: solid 1px #DD6F47;
}
.btn-primary {
  background: #37465D;
}
.btn-secondary {
  background: #D6D6D6;
}
.btn-cancel {
  background: none;
  text-decoration: underline;
  color: #37465D;
}
.alert,
.btn,
.form-control {
  border: none;
  border-radius: 0;
}
.form-control {
  border: solid 1px #D6D6D6;
}
.alert-title {
  font-weight: bold;
}
.alert-success {
  background: #6AB0AA;
  color: #F8F8F8;
}
.alert-danger {
  background: #DD6F47;
  color: #F8F8F8;
}
.alert-warning {
  background: #FCA65F;
  color: #333;
}
