<div id="form" class="col-xs-12 col-sm-6 page-content">
  <multi-step-container steps="vm.steps" on-finish="vm.finish()" on-step-change="vm.checkFields()" search-id="'step'">
    <!--<div class="row form-steps">
      <ul class="form-steps-navigation">
        <li ng-repeat="step in $getSteps()">
          <a ng-class="{'warning': Number($getActiveIndex())==Number($index)}" href="#">{{$index + 1}}. {{ step.title }}</a>
        </li>
      </ul>
      <p>{{$getActiveStep().title}}</p>
    </div>-->
    <header class="row">
      <div id="alert-container"></div>
      <h2>{{$getActiveStep().title}}</h2>
    </header>
    <step-container></step-container>
    <footer class="row">
      <div class="col-xs-6 no-padding">
        <button ng-hide="$isFirst()" class="btn btn-minor" ng-click="$previousStep()">
            <span class="fa fa-chevron-left"></span>
            Back
        </button>
      </div>
      <div class="col-xs-6 text-right no-padding">
        <!--<button ng-hide="$isLast()" class="btn btn-default" ng-click="vm.next()">-->
        <button ng-hide="$isLast()" class="btn btn-default" ng-click="$nextStep()">
            Next
            <span class="fa fa-chevron-right"></span>
        </button>
      </div>
      <div class="col-xs-6 text-right no-padding">
        <button ng-show="$isLast()" class="btn btn-primary" ng-click="$finish()">
            Finish and submit
            <span class="fa fa-chevron-right"></span>
        </button>
      </div>
    </footer>
  </multi-step-container>
</div>
