<div id="confirmation" class="col-xs-12 page-content">
  <div class="row alert alert-warning">
    <h2>Submitted</h2>
    <p>Your guilty plea has been submitted.</p>
  </div>
  <div class="row">
    <p>The court will consider your plea. Please allow up to 7 days to receive notification in writing from the court that your guilty plea has been accepted.</p>
    <p>If your plea is not accepted, you will be advised of your new hearing date.</p>
  </div>
  <div class="row">
    <button class="btn btn-primary">
      <span class="fa fa-print"></span>&nbsp;
      Print
    </button> |
    <button class="btn btn-primary">
      <span class="fa fa-envelope"></span>&nbsp;
      Email
    </button> |
    <button href="http://neighbourhoodjustice.vic.gov.au/" class="btn btn-minor">
      <span class="fa fa-globe"></span>&nbsp;
      NJC Website
    </button>
  </div>
</div>
