<div id="confirmation" class="col-xs-12 col-sm-6 page-content">
  <div class="row">
    <h2>Submitted</h2>
  </div>
  <div class="row">
    <p>Your plea has been submitted.</p>
    <p>The court will consider your plea. Please allow up to 7 days to receive notification in writing.</p>
    <p>If your plea is not accepted, you will be advised of your new hearing date.</p>
  </div>
  <div class="row">
    <button class="btn btn-primary">Print</button> |
    <button class="btn btn-primary">Email</button> |
    <button href="http://neighbourhoodjustice.vic.gov.au/" class="btn btn-minor">NJC Website</button>
  </div>
</div>
