<div class="row">
  <form-steps class="col-xs-12" steps="vm.steps" current="vm.current_step_id"></form-steps>
</div>
<div class="row">
  <div class="col-xs-12 alert alert-danger" ng-if="vm.form.declaration.$invalid && vm.form.declaration.$submitted">
    <h3 class="alert-title">Form errors</h3>
    <formly-error-summary form="vm.form" fields="vm.fields.declaration"></formly-error-summary>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h3>Offences</h3>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <blockquote>
      {{ vm.model.offence_details }}
    </blockquote>
  </div>
</div>
<div class="row">
  <form class="online-plea-form" class="col-xs-12" name="vm.form.declaration" novalidate>
    <formly-form model="vm.model" fields="vm.fields.declaration">
      <div class="col-xs-6 no-padding">
        <button type="button" class="btn btn-default" ng-click="vm.prev('your_offence')">
          <span class="fa fa-chevron-left"></span>
          Previous
        </button>
        &nbsp;
        <button type="button" class="btn btn-cancel no-padding" ng-click="vm.cancelForm()">Cancel</button>
      </div>
      <div class="col-xs-6 text-right no-padding">
        <button type="submit" class="btn btn-default" ng-click="vm.next('declaration', 'review')">
          Next
          <span class="fa fa-chevron-right"></span>
        </button>
      </div>
    </formly-form>
  </form>
</div>
