<div id="home" class="col-xs-12 col-sm-6 page-content">
  <div class="row">
    <h2>Plead guilty online</h2>
  </div>
  <div class="row">
    <p>For <a href="">some offences</a> you may submit your plea online, and not have to come to court.</p>
    <ul>
      <li>You must be pleading guilty to ALL charges</li>
      <li>Serious charges are not included</li>
      <li>The case must be listed to be heard at the Neighbourhood Justice Centre</li>
    </ul>
    <p>You should seek legal advice to help you decide</p>
  </div>
  <div class="row page-actions text-right">
    <button class="btn btn-primary">Continue</button>
  </div>
</div>
