<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <!--<div class="modal-header">
        <button type="button" class="close" aria-label="Close" ng-click="$hide()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Minor offences</h4>
      </div>-->
      <div class="modal-body">
        <p>This information can be important in helping the magistrate to decide on the penalty they give you. You might like to tell the magistrate about:</p>
        <ul>
          <li>How and why the offence happened: explain your actions, do not excuse them.</li>
          <li>Anything you have done to make up for the offence or to accept responsibility for it - for example, sorting out drug or alcohol problems; seeing a counsellor or social worker; selling your car.</li>
          <li>Personal information about you – for example, how old you are; your family situation; if you are working or studying; and any personal problems that may explain your situation.</li>
          <li>Your financial situation including your income; rent or mortgage payments; and car or other large loans.</li>
          <li>If you might have trouble paying a fine without a payment plan.
          <li>Why you might need to keep your driver licence (for traffic offences) – for example, so you have use it as part of your work; or to pick up children.</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
      </div>
    </div>
  </div>
</div>
