<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <!--<div class="modal-header">
        <button type="button" class="close" aria-label="Close" ng-click="$hide()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Minor offences</h4>
      </div>-->
      <div class="modal-body">
        <p>A guilty plea can be submitted for these offences:</p>
        <ul>
          <li>Transport offences (unpaid infringements)</li>
          <li>Road safety offences</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
      </div>
    </div>
  </div>
</div>
