<div class="review">
  <h3>Your details</h3>
  <ul>
    <li><strong>First name:</strong><br/>
      {{ vm.model.given_name }}
    </li>
    <li><strong>Last name:</strong><br/>
      {{ vm.model.family_name }}
    </li>
    <li><strong>Preferred contact:</strong><br/>
      {{ vm.model.contact_method }}
    </li>
    <li><strong>Contact {{vm.model.contact_method}}:</strong><br/>
      {{ vm.model.contact }}
    </li>
  </ul>

  <h3>Your offence(s)</h3>
  <ul>
    <li><strong>Date of your hearing:</strong><br/>
      {{ vm.model.hearing_date | date: "dd MMM yyyy" }}
    </li>
    <li><strong>Date of your offence:</strong><br/>
      {{ vm.model.offence_date | date: "dd MMM yyyy" }}
    </li>
    <li><strong>Details of your offence(s):</strong><br/>
      {{ vm.model.offence_details }}
    </li>
    <li><strong>Message to the Magistrate:</strong><br/>
      {{ vm.model.message }}
    </li>
  </ul>

  <h3>Your declaration</h3>
  <ul>
    <li><strong>I acknowledge I may plead guilty or not guilty. I acknowledge no police officer or other person told me to plead guilty: </strong>
      {{ vm.model.acknowledgement ? "YES" : "NO" }}
    </li>
    <li><strong>I plead guilty to the offence(s) listed in this form. This plea is entered voluntarily of my own free will: </strong>
      {{ vm.model.plead_guilty ? "YES" : "NO" }}
    </li>
  </ul>
</div>
<div class="col-xs-6 no-padding">
  <button type="button" class="btn btn-default" ng-click="vm.prev('your_details')">
    <span class="fa fa-chevron-left"></span>
    Previous
  </button>
  &nbsp;
  <button type="button" class="btn btn-cancel no-padding" ng-click="vm.cancelForm()">Cancel</button>
</div>
<div class="col-xs-6 text-right no-padding">
  <button type="submit" class="btn btn-primary" ng-click="vm.submit()">
    Submit
    <span class="fa fa-chevron-right"></span>
  </button>
</div>
