<section id="view-order">
  <header>
    <div class="row text-left">
      <div class="col-xs-12">
        <img src="/imgs/njc-logo.png"/>
      </div>
    </div>
  </header>
  <nav>
    <div class="row">
      <div class="left-nav col-xs-6">
        <ul>
          <li><a href="#">Dashboard</a></li>
          <li><a href="#">Users</a></li>
          <li><a href="#">Forms</a></li>
        </ul>
      </div>
      <div class="col-xs-6 text-right">
        <ul>
          <li>Logged in as Gavin</li>
          <li>
            <a class="btn btn-danger" href="#">Save and exit</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <main class="row">
    <div class="row">
      <h1 class="col-xs-12">{{ vm.order.id | uppercase }}</h1>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <img src="/imgs/order-thumbnail.png" alt="Preview of the order" height="auto" width="100%" />
      </div>
      <div class="col-xs-6">
        <div class="row">
          <h3>Send by SMS</h3>
        </div>
        <div class="row">
          <h4>{{ vm.order.name }}</h4>
        </div>
        <div class="row">
          <p>Order #:{{ vm.order.id }}</p>
        </div>
        <div class="row">
          <p ng-bind-html="vm.order.address"></p>
        </div>
        <div class="row">
          <p>{{ vm.order.phone }} - <a href="">edit</a></p>
        </div>
        <div class="row">
          <button type="button" class="btn btn-primary" name="button" ui-sref="sms-order-form({id: vm.order.id})">
            <span class="fa fa-send"></span>&nbsp;Send link via SMS
          </button>
        </div>
      </div>
    </div>
  </main>
  <!--<footer class="row">
    <p><small>Code For Australia</small></p>
  </footer>-->
</section>
