<!--<div class="form-field-split-date">
  <input type="text" class="form-field-day form-control" ng-model="model[to.options.key]['day']" placeholder="dd" />
  <input type="text" class="form-field-month form-control" ng-model="model[to.options.key]['month']" placeholder="mm" />
  <input type="text" class="form-field-year form-control" ng-model="model[to.options.key]['year']" placeholder="YYYY" />
</div>-->
<!--<div class="form-field-split-date">
  <input type="text" name="day" class="form-field-day form-control" ng-model="day" placeholder="dd" />
  <input type="text" name="month" class="form-field-month form-control" ng-model="month" placeholder="mm" />
  <input type="text" name="year" class="form-field-year form-control" ng-model="year" placeholder="YYYY" />
</div>-->
