<div class="">

  <div class="">
    <strong class="control-label" ng-if="to.custom_label">
      {{to.custom_label}}
      <span ng-if="to.required">*</span>
    </strong>
  </div>

  <div class="form-field-note">
    <p>
      <span class="fa fa-info-circle"></span>
      {{to.form_field_note}}
    </p>
  </div>

  <div ng-class="{'has-error text-danger': fc.$viewValue.length > to.maxlength }">
    <span ng-if="to.maxlength" class="form-character-count">Characters left {{ to.maxlength - fc.$viewValue.length }}</span>
    <formly-transclude></formly-transclude>
  </div>

</div>
