/******************************
Boostrap overrides
*******************************/

.njc-guilty-pleas {
  .no-padding {
    padding:0;
  }
}

/******************************
App specific
*******************************/

.njc-guilty-pleas {
  .review {
    ul {
      padding:0;
      margin:0;
      li {
        list-style-type:none;
        padding:0.5em 0;
      }
    }
  }

  .form-field-note {
    font-size:0.9em;
    padding:0.5em;
  }


  .form-control, select, input, textarea, button {
    border-radius:0;
  }

  .btn-primary,.btn-primary[disabled] {
    border:#333;
    background:#C7D05C;
    color:#333;
  }

  .btn-default {

  }

  .navbar-brand, .navbar-header {
    min-height:5em;
  }

  .navbar-header .navbar-btn {
    position:relative;
    top:1.5em;
    right:4em;
  }

  .navbar-brand img {
    height: 100%;
    width: auto;
  }

  .page-content {

  }

  .page-actions {

  }
}

footer {
  display: none;
}

@media (max-width: 720px) {
  html body.njc-guilty-pleas {
    font-size:10pt;

    h1 {
      font-size:24px;
    }

    .btn {
      font-size:smaller;
    }
  }
}
