/******************************
Boostrap overrides
*******************************/
.njc-efv {
  .form-control, select, input, textarea, button {
    border-radius:0;
  }

  .btn-primary,.btn-primary[disabled] {
    border:#333;
    background:#C7D05C;
    color:#333;
  }

  .btn-default {

  }

  .navbar-brand, .navbar-header {
    min-height:5em;
  }

  .navbar-header .navbar-btn {
    position:relative;
    top:1.5em;
    right:4em;
  }

  .navbar-brand img {
    height: 100%;
    width: auto;
  }
}

footer {
  display: none;
}

#login {
  padding-top:10em;
}

section {
  .fake-pill {
    background:#d9534f;
    color:#fff;
    border-radius:10%;
    padding:0.2em 0.3em;
    margin:0 0.25em 0.25em 0;
    display:inline-block;
  }

  nav {
    >div {
      background:#0f2e1f;
    }
    color:#fff;

    .left-nav {
      position:relative;
      top:0.25em;
      ul li {
        //border-right:dotted 0.1em #fff;
        //&:last-of-type {border:none;}
      }
    }

    ul {
      margin:0.75em 0;
      padding:0;
      a {color:#fff;}
      font-size:1.25em;
      position:relative;
      top:0.25em;
      li {
        display:inline-block;
        padding-right:0.25em;
      }
    }
  }
}

.entry {
  padding:2em;
  background:#fafafa;
  section {
    margin-bottom:1em;
  }

  .entry-metadata {
    color:#333;
    background:#C7D05C;
    p {padding:1em;margin:0;}
  }
}

.page-footer {
  margin-top:1em;
}

@media (max-width: 720px) {
  html body.njc-efv {
    font-size:10pt;

    h1 {
      font-size:24px;
    }

    .btn {
      font-size:smaller;
    }
  }
}
