body {
  font-size:11pt;
}

header {
  font-size:9pt;
}

header h1 {
  font-size:13.5pt;
  font-weight:bold;
}

header h4 {
  font-weight:200;
}

main .container {

}

.plea-field-label {
  font-weight:bold;
  text-transform:uppercase;
}

.plea-field-value {
  padding:1em 0;
}

footer {
  font-size:8pt;
}
